<p>
  <b>Neighborhood:</b>
  <%=h @offpost.neighborhood %>
</p>

<p>
  <b>Distance:</b>
  <%=h @offpost.distance %>
</p>

<p>
  <b>Drive:</b>
  <%=h @offpost.drive %>
</p>

<p>
  <b>Content:</b>
  <%=h @offpost.content %>
</p>
<p>
  <b>Content:</b>
  <%=h @learn.name %>
</p>

