<div id="login_area">
<p style="font-size: 18pt; color:#D42027">Yikes!</p>
It looks like you are not logged in. Please login or sign up below. 
<div id="login_boxes">
	
	
<% form_tag session_path do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>

<div id="notice3">
<%= flash[:notice3] %>
</div>
<p><%= submit_tag 'Log in' %></p>


<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->


</div>
<% end -%>
<p>Not Signed Up? We only ask 4 simple questions. <span class="login_boxes"><%= link_to 'Sign Me Up!', new_user_path %></span></p>
</div>