<h1><%= @installation.name %>: Places to Play</h1>
<span class="addeat"><%= link_to image_tag("/images/add_play.png", :border=>0), new_installation_play_path(@installation, @play) %></span>

<div id= "play">
<% @plays.each do |play| %>

<div id= "play_main">	
<h1><%= link_to play.name, installation_play_path(@installation, play) %><%= rank_image_tag(play.average_rates.to_i) %></h1>
<div class="play_specific">  
<%= play.play_category.name %><br />
<%= play.play_area.name %>
</div>
</div>	
<% end %>
</div>

