<% form_for(current_user) do |f| %>

<p>
<%= f.label :name %><br />
   <%= f.text_field :name %>
</p>
<p>
Username<br />
<%= text_field 'user', 'login' %>
</p>
<p>
Email Address<br />
<%= text_field 'user', 'email' %>
</p>


<%= submit_tag 'Edit' %>
<% end %>
