<h1>Editing play_category</h1>

<% form_for(@play_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @play_category %> |
<%= link_to 'Back', play_categories_path %>