<div id="sidebar">

	  <h1><%=h @installation.name %></h1> 
	 	  <%=h @installation.city %>, <%=h @installation.state %> <%=h @installation.zipcode %>
	<p>


	  <span class="inprocessing"><b>In-Processing:</b><br />
	  <%=h @installation.inprocessing %></span>

	  <span class="temp"><b>Temp Lodging:</b><br />
	  <%=h @installation.templodging %></span>

	  <span class="child"><b>Family Services:</b><br />
	  <%=h @installation.family %></span>
	
	  <span class="school"><b>School Liason:</b><br />
	  <%=h @installation.family %></span>
	
	  <span class="house"><b>Housing:</b><br />
	  <%=h @installation.family %></span>
	
	  <span class="hospital"><b>Hospital:</b><br />
	  <%=h @installation.family %></span>
	
	  <span class="commissary"><b>Commissary:</b><br />
	  <%=h @installation.family %></span>

	</p>
</div>