<h1>Editing play_area</h1>

<% form_for(@play_area) do |f| %>
  <%= f.error_messages %>
<p>
  <%= f.label :installation_id %><br />
  <%= f.text_field :installation_id %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @play_area %> |
<%= link_to 'Back', play_areas_path %>