<h1>Editing neighborhood</h1>

<% form_for ([@installation, @neighborhood]) do |f| %>


<%= hidden_field_tag('neighborhood[installation_id]', @installation.id) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :drive %><br />
    <%= f.text_field :drive %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

