
<h1><%=h @installation.name %>: Neighborhoods</h1>
<br />
<% @neighborhoods.each do |neighborhood| %>
<div id= "housing">
<div id= "housing_main">	
<h1><%= link_to neighborhood.name, installation_neighborhood_path(@installation, neighborhood) %> <%= rank_image_tag(neighborhood.average_rates.to_i) %><br /></h1>
<div class="housing_specific">  
<%= neighborhood.drive %><br />
<%= neighborhood.distance %>
</div>
</div>
</div>
<% end %>
