<h1>New neighborhood</h1>

<% form_for(@neighborhood) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.collection_select :installation_id, Installation.find(:all), :id, :name, :prompt=> "Select A Post"%>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', neighborhoods_path %>