<h1>New neighborhood</h1>

<% form_for([:installation, @neighborhood]) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= hidden_field_tag('neighborhood[installation_id]', @installation.id) %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
